<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Cristian Spata, Ignazio Leonardo Calogero Sperandeo">

    <title>BeautifulChat</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static 'beautiful_chat/index.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">BeautifulChat</h3>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Chatta con semplicità</h1>
        <p class="lead">BeautifulChat è una chat multiutente, il server è scritto il Python e usa il framework Django. Cliccare sul bottone qui sotto per accedere alla lista delle chat.
        </p>
        <p class="lead">
          <a href="/chats" class="btn btn-lg btn-secondary">Lista Chat</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner flex-container">
          <p>Scritto da <a href="https://github.com/Kuriix">Cristian Spata</a> e <a href="https://github.com/jim-bug">Ignazio Leonardo Calogero Sperandeo</a>
            <a href="https://github.com/jim-bug/Beautiful-Chat">
                <img class="github_icon" src="{% static 'beautiful_chat/github-mark-white.png' %}" alt="GitHub Logo" >
            </a>
          </p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
